<!DOCTYPE html>
<html>

<head>
    <title>Fake LinkedIn Detector</title>
</head>

<body>
    <h1>Fake LinkedIn Detector</h1>

    <form method="post" action="/predict">
        <label>Connections:</label><br>
        <input type="number" name="connections"><br><br>

        <label>Skills:</label><br>
        <input type="number" name="skills"><br><br>

        <label>Experience:</label><br>
        <input type="number" name="experience"><br><br>

        <label>Recommendations:</label><br>
        <input type="number" name="recommendations"><br><br>

        <label>Posts:</label><br>
        <input type="number" name="posts"><br><br>

        <label>Profile Completion:</label><br>
        <input type="number" name="profile_completion"><br><br>

        <button type="submit">Predict</button>
    </form>
</body>

</html>